<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dinalfernando.imageapp">

   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".imageScreen1" />
        <activity android:name=".imageScreen2" />
        <activity android:name=".videoScreen" />
        <activity android:name=".updating" />
        <activity android:name=".Deactivate" />
        <activity android:name=".LoginActivity"
            android:label="Login"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DeviceRegActivity"
            android:label="Register Device"
            android:parentActivityName=".LoginActivity"></activity>
    </application>

</manifest>